// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-secondary: #5145fffa;
    --ion-color-favorite-rgb: 105, 187, 123;
    --ion-color-favorite-contrast: #ffffff;
    --ion-color-favorite-contrast-rgb: 255, 255, 255;
    --ion-color-favorite-shade: #5ca56c;
    --ion-color-favorite-tint: #78c288;
    --my-gradient: linear-gradient(90deg, rgba(83, 162, 212, 1) 0%, rgba(125, 235, 255, 1) 100%);
  }
