<ion-tabs>
  <ion-tab-bar slot="bottom" class="smart-navbar">
    <ion-tab-button
      *ngFor="let item of tabs"
      [tab]="item.tab"
      [routerLink]="['/tabs', item.tab]"
      [attr.aria-label]="item.tab"
      [attr.aria-current]="esActivo(item.tab) ? 'page' : null"
      [class.activo]="esActivo(item.tab)">

      <!-- Fondo del tab seleccionado: se escala y aparece con transición -->
      <span class="tab-fondo" aria-hidden="true"></span>
      <ion-icon [name]="item.icono" class="tab-icono"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
