<ion-header>
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <ion-list>
      <ion-item *ngFor="let cliente of clientes">
        <ion-label>
          <div class="cliente-header">
            <h2>{{ cliente.nombre }}</h2>
            <ion-button fill="clear" size="large" (click)="$event.stopPropagation(); editarCliente(cliente)">
              <ion-icon name="pencil" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
          <p>{{ cliente.direccion }}</p>
          <p>
            tamaño de piscina: {{ cliente.medidas.largo }}x{{ cliente.medidas.ancho }}x{{ cliente.medidas.profundidad }}m
          </p>
          <p>
            <ion-badge [color]="cliente.activo ? 'success' : 'danger'">
              {{ cliente.activo ? 'Activo' : 'Inactivo' }}
            </ion-badge>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Botón flotante para crear cliente -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irACrearCliente()" color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
